/*css reset*/

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
   font-family: "Sofia",sans-serif;
  line-height: 1.5;
  background-color: #f1f1f1;
}

#main-header{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  min-width:200px;
  max-width:250px; 
}

#navbar{
  height:100%;
  border-right:solid 2.5px #556;
}

#navbar h1{
  font-size:1.6rem;
  text-align:center;
  padding:1rem 0;
}

#navbar ul{
  padding:0;
  overflow-y:auto;
  overflow-x:hidden;
  height:90%;
}

#navbar ul li {
    border: solid 1.3px #000;
  }
#main-header #navbar ul li a{
  display:block;
  text-align:left;
  padding: .9rem 1rem .9rem 3rem;
  cursor:pointer;
  color:#111;
}




#main-doc{
  position:absolute;
  margin-left:340px;
  padding:2rem 1rem;
}

#main-doc .main-section header{
  font-size:2rem;
  padding:1rem;
}

#main-doc .main-section .main-article{
  padding-left:1.5rem;
  margin-bottom:.4rem;
  color: #333;
}

#main-doc .main-section .main-article p{
  margin-bottom:1rem;
}

#main-doc .main-section .main-article ul{
  margin:1.1rem 0 0 1.7rem;
}

 #main-doc .main-section .main-article ul li {
    margin-left: 5rem;
  }

#main-doc .main-section .main-article ol{
  margin:1.1rem 0 0 1.7rem;
}

 #main-doc .main-section .main-article ol li {
    margin-left: 5rem;
  }

  }
#image {
    max-width: 100%;
    height: auto;
    display: block;
  }
.url-link{
  color:rgba(255, 0, 19, 0.74);
}